---
import Layout from "../layouts/Layout.astro";
---
<Layout>
  <h1 class="text-3xl font-bold mb-4">Selamat Datang di GordenKu</h1>
  <p>Kami menyediakan solusi gorden terbaik untuk rumah dan kantor Anda.</p>
</Layout>
