---
import Layout from "../layouts/Layout.astro";
---
<Layout>
  <h1 class="text-2xl font-bold mb-4">Layanan Kami</h1>
  <ul class="list-disc ml-6 space-y-2">
    <li>Gorden custom desain</li>
    <li>Pengukuran & pemasangan</li>
    <li>Konsultasi interior gratis</li>
  </ul>
</Layout>
